{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "semi": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "singleQuote": true,
  "importOrder": [
    "^@.*/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^(App|components|pages|store|utils|stories|models|store|constants|assets|_i18n)",
    "^[./].*(?<![.]css)$",
    "^[./].*(?<=[.]css)$"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "classProperties",
    "decorators-legacy"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "overrides": [
    {
      "files": ["**/*.json"],
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": ["**/*.yml", "**/*.yaml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
